@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic global styles */
html, body {
  height: 100%;
}
body {
  @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
}